
# ----------------------------------------------------------------
#  File managed by Salt.
#  Your changes will be overwritten.
# ----------------------------------------------------------------
{%  for r in rules %}
{{ r }}
{%- endfor %}
